:root {
    --primary-color: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

/*Grid*/
.container {
    height: 95vh;
    display: grid;
    grid-template-columns: 35rem 55rem;
    grid-template-rows: 10rem 45rem 40rem 5rem;
    place-content: center;
    justify-items: center;
}

.title-anime {
    grid-column: 1 / 3;
}

/*Extras*/
h1 {
    font-size: 3rem;
    text-align: center;
}

.span-title {
    font-size: 2rem;
    font-weight: bold;
}

/* Imagenes */
.item-img {
    width: 33rem;
    height: 43rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1rem;
}

/*Lista de Info*/

.item-list {
    justify-self: start;
}

.item-ul {
    list-style: none;
}

.item-ul li {
    font-size: 1.6rem;
}

.title-li ul{
    list-style: none;
    font-size: 1.6rem;
}

/*Otra Grid*/
.item-syn {
    grid-column: 1 / 3;
    text-align: center;
}

.item-home {
    grid-column: 1 / 3;
    font-size: 2rem;
    text-align: center;
}

.item-syn h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.item-syn p {
    font-size: 1.8rem;
}

/*header*/

header {
    text-align: center;
}

.menu-list {
    list-style: none;
}

.menu-list li {
    font-size: 2rem;
    display: inline-block;
}