:root {
    --primary-color: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(10rem, 35rem));
    grid-auto-rows: minmax(10rem, 44rem);
    place-content: center;
    justify-items: center;
}

.items-one {
    grid-column: 1 / 5;
    place-self: center;
    display: grid;
    place-items: center;
}

.input-search {
    width: 100rem;
    height: 3.5rem;
    border-radius: 1.5rem;
}

.btn-search {
    width: 8rem;
    height: 3rem;
    border-radius: 1rem;
}

.items-one div {
    margin-top: 1rem;
}

.items {
    width: 30rem;
    height: 40rem;
    text-align: center;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1rem;
}

.not-found span {
    font-size: 3rem;
    font-weight: bold;
}