:root {
    --primary-color: white;
    --back-score: rgba(29, 31, 45, 0.7);
    --score-span: #fff82f;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(10rem, 35rem));
    grid-auto-rows: minmax(10rem, 44rem);
    place-content: center;
    justify-items: center;
}

.items-one {
    height: 22rem;
    grid-column: 1 / 5;
    justify-self: center;
    align-self: end;
    display: grid;
    grid-template-rows: 3.5rem 3.5rem 15rem;
    place-items: center;
}

.input-search {
    width: 100rem;
    height: 3.5rem;
    border-radius: 1.5rem;
}

.btn-search {
    width: 8rem;
    height: 3rem;
    border-radius: 1rem;
}

.items-one div {
    margin-top: 1rem;
}

.title-accion {
    font-family: sans-serif;
    font-size: 3.6rem;
}

.items {
    position: relative;
    width: 30rem;
    height: 40rem;
    text-align: center;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1rem;
}

.score {
    position: absolute;
    background-color: var(--back-score);
    width: 5.3rem;
    height: 4.5rem;
    right: 0.1rem;
    border-radius: 1rem;
}

.score p {
    margin-top: 0.4rem;
    font-size: 1.6rem;
    color: var(--score-span);
}

.not-found span {
    font-size: 3rem;
    font-weight: bold;
}

/*header*/

header {
    text-align: center;
}

.menu-list {
    list-style: none;
}

.menu-list li {
    font-size: 2rem;
    display: inline-block;
}

/* See more */

/* .see-more {
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: minmax(10rem, 140rem);
    grid-template-rows: 5rem;
    place-content: center;
} */

.see-more {
    width: 12rem;
    height: 4rem;
    justify-self: center;
    align-self: center;
}

.btn-see-more {
    width: 12rem;
    height: 4rem;
    background-color: var(--back-score);
    color: var(--score-span);
}

/* .see-more div {
    width: 12rem;
    height: 4rem;
    justify-self: center;
} */

/* Loader */

.loader {
  border: 6px solid rgba(255, 255, 255, 0.2);
  border-top: 6px solid #00bfff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.9s linear infinite;
  position: fixed;
  bottom: 50rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% { transform: translateX(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) rotate(360deg); }
}
